<!-- Header section -->
<div class="profile-header">
  <h1><%= @user.username%>'s Profile Page</h1></br>
  <p>Logged in as: <%=@user.username%></p>
  <form method=post action=/logout>
    <input class ="logout-button" type="submit" value="Sign Out">
  </form>
</div>
</br>

<!-- <aside class="profile-sidebar">
  <h2>this is some ASIDE content</h2>
</aside> -->

<!-- Questions Submit Form -->
<div class="submit-question">
  <div class="input">
    <p class="ask">Ask a Question:</p></br>
    <form method="post" action="/questions">
      <input class="question-title" type=text placeholder="Question Title" name="questions[title]"></br>
      <input class="question-input" type=text placeholder="Description..." name="questions[description]"></br></br>
      <input class="question-submit-button" type=submit value="Ask!">
    </form>
    </br>
  </div>
</div>

<!-- Question Section -->
<h1>Questions you've asked:</h1>
<% @questions.each do |question| %>
<span class="wrapper">
  <div class="question-item">
    <p><strong>Title:</strong> <%= question.title %></p></br>
    <p><strong>Description:</strong> <%= question.description %></p>
    </br>
    <div class="controls">
      <form method="get" action="/questions/<%=question.id%>/edit">
        <span class="buttons">
          <input type="submit" value="Edit" name="update[title]">
        </span>
      </form>
      <form method="post" action="/questions/<%=question.id%>">
        <span class="buttons">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </span>
      </form>
      <form method="get" action="/questions/<%=question.id%>/answers/new">
        <span class="buttons">
          <input type="submit" value="Answer" name="answer">
        </span>
      </form>
    </div>
  </div>
</span>
<% end %>

<!-- Answers Section -->
<h1>Your Answers:</h1>
<% @answer.each do |answer| %>
<div class="answer-item">
  <p><strong><%=Question.find_by(id: answer.question_id).title%></strong></p>
  <p><strong><%=Question.find_by(id: answer.question_id).description%></strong></p>
  <p><%=answer.content%></p></br>
  <div class="controls">
    <form method="get" action="/answer/<%=answer.id%>/edit">
      <span class="buttons">
        <input type="submit" value="Edit" name="update[content]">
      </span>
    </form>
    <form method="post" action="/answer/<%=answer.id%>">
      <span class="buttons">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </span>
    </form>
  </div>
</div>
<% end %>
